/* Header */

.header {
    background-color: var(--primary-color);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 3;
    box-shadow: 0 0 5px 1.4px rgba(0, 0, 0, 0.25);
}

.navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.navbar__part {
    display: flex;
    align-items: center;
}

.navbar__part-logo {
    width: 150px;
    text-align: center;
}

.navbar__part-logo-link {
    display: inline-block;
}

.navbar__part-logo-img {
    height: 50px;
}

.navbar__part-nav {
    display: flex;
    align-items: center;
    line-height: 5.4rem;
    margin-left: 1.6rem;
    margin-bottom: 0;
}

.navbar__part-nav-item {
    color: var(--text-color);
    position: relative;
    font-size: 1.6rem;
    font-weight: 500;
    padding: 0 1.8rem;
    user-select: none;
}

.navbar__part-nav-item.display-form {
    background-color: #ccc;
}

.navbar__part-nav-link {
    display: block;
    color: var(--text-color);
}

.navbar__part-nav-item:hover {
    background-color: #ccc;
    cursor: pointer;
    transition: background-color 0.15s ease-in;
}

.navbar__part-nav-item.display-form>.navbar__part-booking-form {
    display: block;
}

.navbar__part-nav-item>.navbar__part-nav-link {
    color: var(--text-color);
}

.navbar__part-nav-item:hover>.navbar__part-room {
    display: block;
}

.navbar__part-book-btn {
    margin-right: 1.6rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--white-color);
    background-color: var(--yellow-color);
    padding: 0 1.6rem;
    line-height: 5.4rem;
    transition: filter 0.15s ease-in;
}

.navbar__part-book-btn:hover {
    filter: brightness(1.1);
    color: var(--white-color);
}

.navbar__part-cart {
    display: block;
    position: relative;
    color: #000;
    padding: 0.5rem;
    margin-right: 1.6rem;
}

.navbar__part-cart:hover>.navbar__part-cart-icon {
    color: #828282;
    transition: color 0.15s ease-in;
}

.navbar__part-cart-icon {
    font-size: 2.2rem;
}

.navbar__part-login {
    color: var(--text-color);
    border: 1px solid #000;
    border-radius: 25px;
    font-size: 1.6rem;
    font-weight: 600;
    margin-left: 0.8rem;
    padding: 0.6rem 0;
    min-width: 8rem;
    text-align: center ;
    cursor: pointer;
}

.navbar__part-login:hover {
    background-color: var(--text-color);
    color: var(--white-color);
    transition: color 0.15s ease-in, background-color 0.15s ease-in;
}

.navbar__part-room {
    position: absolute;
    top: 5.4rem;
    left: 0;
    display: none;
    width: 18rem;
    background-color: var(--white-color);
    box-shadow: 0 0 5px 1.4px rgb(0, 0, 0, 0.08);
    animation: fadeIn 0.3s linear;
    padding-left: 0 !important;
    border-radius: 5px;
    overflow: hidden;
    z-index: 2;
}

.navbar__part-room-item {
    font-size: 1.5rem;
    line-height: 4.5rem;
}

.navbar__part-room-item+.navbar__part-room-item {
    border-top: 1px solid #e8e8e8;
}

.navbar__part-room-item:hover {
    background-color: #ccc;
}

.navbar__part-room-item:hover .navbar__part-room-link {
    color: var(--text-color);
}

.navbar__part-room-link {
    display: block;
    color: var(--text-color);
    padding: 0 1.8rem;
}

.navbar__part-booking-form {
    position: absolute;
    left: 0;
    padding: 0 2.3rem;
    box-shadow: 0 0 5px 1.4px rgb(0, 0, 0, 0.08);
    background-color: var(--white-color);
    cursor: default;
    display: none;
    z-index: 2;
    border-radius: 5px;
}

.navbar__part-booking-form.drag::after {
	display: block;
}

.navbar__part-booking-form::after {
	position: absolute;
	content: "";
	display: none;
	width: 100vh;
	height: 100%;
	background-color: transparent;
	right: 100%;
	top: 0;
}

.navbar__part-booking-title {
    line-height: 4rem;
    font-size: 1.5rem;
    user-select: none;
}

.navbar__part-booking-wrapper {
    display: flex;
    align-items: center;
    margin: 0.5rem 0 1.7rem;
}

.navbar__part-booking-input {
    padding: 0.9rem;
    font-size: 1.6rem;
    font-weight: 400;
    border: 1px solid #ccc;
    color: var(--text-color);
    border-radius: 3px;
    line-height: 1.5rem;
}

.navbar__part-booking-btn {
    display: inline-flex;
    padding: 1.15rem 1.2rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: all 0.15s ease-in;
}

.navbar__part-booking-btn:hover>.navbar__part-booking-icon {
    color: var(--white-color);
}

.navbar__part-booking-icon {
    font-size: 1.8rem;
    transition: all 0.15s ease-in;
}

.navbar__part-cart-quantity {
    position: absolute;
    top: -6px;
    right: -6px;
    background-color: red;
    color: white;
    width: 1.9rem;
    height: 1.9rem;
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    border-radius: 50%;
}

.navbar__part-user {
    display: flex;
    position: relative;
    justify-content: space-between;
    align-items: center;
    margin-left: 1.6rem;
    padding: 0.4rem 0.5rem;
    min-width: 15rem;
    cursor: pointer;
    border: 1px solid #000;
    border-radius: 25px;
}

.navbar__part-user::after {
    position: absolute;
    display: block;
    content: "";
    top: 59%;
    right: 0;
    width: 145px;
    height: 2.5rem;
}

.navbar__part-user:hover {
    background-color: var(--text-color);
}

.navbar__part-user:hover .navbar__part-user-name {
    color: var(--white-color);
    transition: color 0.15s ease-in;
}

.navbar__part-user:hover .navbar__part-user-svg {
    fill: var(--white-color);
    transition: fill 0.15s ease-in;
}

.navbar__part-user:hover > .navbar__user-menu {
    display: block;
}

.navbar__part-user-svg {
    width: 2.8rem;
    height: 2.8rem;
    border-radius: 25px;
    fill: var(--text-color);
}

.navbar__part-user-name {
    flex: 1;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--text-color);
}

.navbar__user-menu {
    position: absolute;
    width: 19rem;
    top: calc(100% + 8px);
    right: 0;
    padding-left: 0;
    margin-bottom: 0;
    box-shadow: 0 0 5px 1.4px rgb(0, 0, 0, 0.08);
    border-radius: 5px;
    background-color: var(--white-color);
    overflow: hidden;
    display: none;
    animation: fadeIn 0.3s linear;
    z-index: 2;
}

.navbar__user-menu-item {
    display: flex;
    justify-content: flex-end;
}

.navbar__user-menu-item:hover {
    background-color: #ccc;
}

.navbar__user-menu-item:last-child {
    border-top: 1px solid #e8e8e8;
}

.navbar__user-menu-item:hover .navbar__user-hotel-link {
    color: var(--text-color);
}

.navbar__user-hotel-form {
    flex: 1;
}

.navbar__user-log-out-button {
    width: 100%;
    text-align: right;
    display: block;
    border: none;
    background: none;
    padding: 1.4rem 1.6rem;
    color: var(--text-color);
    font-size: 1.5rem;
    font-weight: 500;
}

.navbar__user-hotel-link {
    flex: 1;
    color: var(--text-color);
    text-align: right;
    font-size: 1.5rem;
    font-weight: 500;
    border: none;
    background: none;
    padding: 1.4rem 1.6rem;
}

.navbar__user-log-out-icon {
    font-size: 1.7rem;
    margin-left: 0.8rem;
}

/* Footer */

.footer-information {
    padding-top: 48px;
    background-color: #bdbdbd;
}

.footer__infor {
    margin-top: 32px;
}

.footer__infor-title {
    font-size: 2.4rem;
    font-weight: 500;
    text-align: left;
}

.footer__infor-wrapper {
    padding-bottom: 48px;
}

.footer__infor-heading {
    text-align: left;
    font-size: 2rem;
    font-weight: 500;
    margin-bottom: 0;
}

.footer__infor-list {
    padding: 0.8rem 0 0;
    margin-bottom: 0;
}

.footer__infor-detail {
    text-align: left;
    font-size: 1.6rem;
    font-weight: 400;
    padding: 0.4rem 0;
}

.footer-copyright {
    background-color: var(--primary-color);
}

.footer__copyright-content {
    padding: 1.6rem 0;
    font-size: 1.6rem;
    font-weight: 500;
}

/* Pagination */

.pagination-section {
    margin-top: 48px;
    display: flex;
    align-items: center;
}

.pagination__container {
    display: flex;
    margin: auto;
}

.pagination__next, 
.pagination__prev {
    width: 4rem;
}

.pagination__prev-link, 
.pagination__next-link {
    display: block;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
    text-align: center;
    padding: 0.8rem 0;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.pagination__prev-link.display-none, 
.pagination__next-link.display-none {
    display: none;
}

.pagination__page {
    display: flex;
    justify-content: space-between;
    margin: 0 4rem;
    padding-left: 0;
}

.pagination__page-number {
    margin: 0 0.4rem;
}

.pagination__page-link {
    display: block;
    width: 4rem;
    font-size: 1.6rem;
    font-weight: 500;
    color: var(--text-color);
    text-align: center;
    padding: 0.8rem 0;
    background-color: var(--primary-color);
    border-radius: 3px;
}

.pagination__page-link.active, 
.pagination__page-link.active:hover {
    background-color: var(--text-color);
    color: var(--white-color);
    cursor: default;
}

.pagination__prev-link:hover,
.pagination__next-link:hover, 
.pagination__page-link:hover {
    background-color: #ccc;
    color: var(--text-color);
}

/* Modal */
.modal-section {
    position: fixed;
    display: flex;
    top: 0; 
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: var(--modal-color);
    z-index: 10;
}
/* animation: fadeIn 0.15s ease-in, fadeOut 0.15s linear 1s; */

.modal-section-body {
    margin: auto;
}